*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}
body{
  width:1600px;
  height:2908px;
}
.font-open-sand{
    font-family: "open sans" , sans-serif;
    font-optical-sizing: auto;
}
header{
  background-color:#f5f5f5;
}

.navbar{
  height:92px;
  padding:16px 120px 16px 120px;
  display:flex;
  align-items:center;
  position:relative;
  justify-content:space-between;
  box-shadow:0 0 0 0;
  background-color: #ffffff;
}

.nav-logo img{
height:60px;
width:139px;
}
.navbar .nav-menu{
    display: flex;
    list-style:none;
    gap:32px;
}
.navbar .nav-menu li a{
   font-weight:500;
    color:#333;
    text-decoration: none;
}
.btn{
  background-color:#30B868;
  border:none;
  padding:16px 12px;
  font-size:16px;
  color:white;
  border-radius:4px;
  cursor:pointer;
}

.banner{
  background:url("../assets/hero-bg.png");
  background-size: over;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align: center;
  color: #ffffff;
  position:relative;
  padding:150px 200px;
}
.banner-box .text{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:6px;
}

.banner-box .icons{
  padding: 8px 12px 8px 12px;
  border-radius: 1000px;
  background: rgba(255, 255, 255, 1);
  width:fit-content;
  margin:auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-size:16px;
  font-style:medium;
  color:#30B868;
  font-weight:500;
  line-height:19px;
  text-align:center;
  margin-top: 16px;
  gap:10px;

}
.banner-box img{
  height:16px;
  width: 16px; 
}
.banner-box h1{
height:168px;
font-style: Bold;
font-size: 72px;
font-weight: 700;
line-height: 84px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
margin-top: 16px;
}

.banner-box p{
  height: 60px;
  color:ragb(255,255,255,1);
  font-style:Regular;
  font-size:18px;
  font-weight:400;
  line-height:24px;
  text-align:center;
 margin-top: 16px;
}
.banner-buttons{
  display: flex;
  justify-content: center;
  gap:10px;
  height:52px;
  margin-top: 16px;
}
.banner-buttons .btn-primary{
  width:251px;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:10px;
  padding:16px 12px;
  background-color:#30B868;
  border-radius: px;
  flex-direction:row;
  border:none;
}
.btn-primary img{
  height: 20px;
  width: 20px;
}
.banner-buttons .btn-secondary{
  background:transparent;
  width: 198px;
  display: flex;
  justify-content:center;
  align-items:center;
  gap:16px;
  padding:16px 12px;
  box-sizing:border-box;
  border: 1px solid white;
  border-radius: 4px;
  flex-direction: row;
  color:white;
}
.btn-secondary img{
  height:20px;
  width:20px;
 color:white;
}
.text-1{
color:white;
display:inline-block;
width:189px;
height:19px;
font-style:semi bold;
font-size:16px;
font-weight:600;
line-height:19px;
letter-spacing:0%;
text-align: left;
text-transform: capitalize;
}
.text-2{
display:inline-block;
width:136px;
height:19px;
font-style:semi bold;
font-size:16px;
font-weight:600;
line-height:19px;
letter-spacing:0%;
text-align:left;
text-transform:capitalize;
}
#skill {
width:1600px;
height:448px;
gap:44px;
text-align:center;
margin-top: 44px;
}
.section-hear h2{
display:flex;
flex-direction:column;
justify-content:center;
font-size:48px;
color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
margin-bottom:10px;
font-style: bold;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}
.section-hear p{
display:flex;
flex-direction:column;
justify-content:center;
font-size:16px;
color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
margin-bottom:10px;
font-style:bold;
font-weight:400;
line-height:20px;
letter-spacing:0%;
text-align:center;
}
.skill-box{
width:1360px;
height:300px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:16px;
margin: 0 auto;
margin-top: 44px;
} 
.img{
background-color: red;
border-radius:50%;
}
.skill-card{
width:322px;
height:300px;
padding:24px;
gap:16px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
border-radius:8px;
box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
text-align:left;
background: rgba(255, 255, 255, 1);
} 

.skill-card h3 {
height:29px;
width:274px;
color:var(--#001931,var(--Color, rgba(0, 25, 49, 1)));
font-style:Semi Bold;
font-size:24px;
font-weight:600;
line-height:29px;
letter-spacing:0%;
text-align:center;
text-transform:capitalize;
}
.skill-card p {
height:40px;
width:274px;
color:var(--#627382, rgba(98, 115, 130, 1));
font-style:Regular;
font-weight:400;
line-height:20px;
letter-spacing:0%;
text-align:center;
font-size:16px;
}
.second-brain {
padding:120px;
width:1600px;
height:840px;
}
.container {
  width:1360px;
  height:600px;
  margin:auto;
  display:flex;
  align-items:center;
  gap:60px;
}
.left-area {
  display:flex;
  justify-content: center;
}
.content-img {
width:600px;
height:600px;
}
.small-title {
width:700px;
height:20px;
color:#30B868;
font-style:Medium;
font-size:16px;
font-weight:500;
line-height:20px;
letter-spacing:0%;
text-align:left;
margin-bottom: 16px;

}

.text-area h1 {
width:700px;
height:116px;
color:var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
font-style:Bold;
font-size:48px;
font-weight:700;
line-height:58px;
letter-spacing:0%;
text-align:left;
text-transform: capitalize;
margin-bottom:16px;
}

.text-area p {
width:700px;
height:60px;
color:var(--#627382, rgba(98, 115, 130, 1));
font-size:16px;
font-weight:400;
line-height:20px;
letter-spacing:0%;
text-align:left;
margin-bottom: 40px;
}
.list-item {
  display:flex;
  align-items:center;
  gap:10px;
  margin-bottom:12px;
  font-size:16px;
}
.icon{
  height:20px;
  width:20px;
}

.ready{
width: 1600px;
height: 384px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background: rgba(247, 246, 242, 1);
padding:80px 40px 80px 40px;
}
.social h2{
width:1280px;
height:48px;
color: var(--Style, rgba(0, 25, 49, 1));
font-style:Bold;
font-style: Regular;
font-size:40px;
font-weight:700;
line-height:48px;
letter-spacing:0%;
text-align: center;
text-transform: capitalize;
}
.social p{
width:1280px;
height:48px;
color:var(--#627382, rgba(98, 115, 130, 1));
font-size:16px;
font-style: Regular;
font-weight:400;
line-height:24px;
letter-spacing:0%;
text-align:center;
margin-top:16px;
}
.ak{
width:194px;
height:52px;
background-color:#30B868;
border:none;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
border-radius:4px;
box-shadow:0px 10px 20px 0px rgba(0, 0, 0, 0.15);
gap:10px;
padding:16px;
margin-top:24px;
cursor: pointer;
}
.ak .later{
width: 132px;
height: 19px;
color:rgba(255, 255, 255, 1);
font-size:16px;
text-align:left;
}

.social-p p{
width: 1280px;
height: 20px;
color: var(--#627382, rgba(98, 115, 130, 1));
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
margin-top:16px;
}

footer{
width: 1600px;
height: 348px;
background: var(--Style, rgba(0, 25, 49, 1));
padding: 120px 120px 30px 120px;
}

.footer-logo{
width:1360px;
height:64px;
display:flex;
align-items: flex-start;
display:flex;
flex-direction:row;
justify-content:space-between;
}

.text-3{
  width:113px;
  height:28px;
  color:white;
  font-style:Medium;
  font-size:20px;
  font-weight:500;
  line-height:28px;
  text-align:center;
}
.img-1{
width:139px;
height:60px;
}
.text-4{
width:1360px;
height:24px;
color:rgba(250, 250, 250, 1);
font-size:16px;
font-weight:400;
line-height:24px;
text-align:center;
margin-top:80px;
}